* {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    color: #333;
}

a {
    color: #333;
}

h1 {
    text-align: center;
    font-size: 36px;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    padding-bottom: 15px;
    margin: 20px 0;
}

h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    margin: 0;
    padding: 22px 0;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs32 {
    font-size: 32px;
}

.fb {
    font-weight: bold;
}


.yellow-b {
    background-color: #ffcf3c;
    padding-left: 5px;
    padding-right: 5px;
}

.the-line {
    height: 1px;
    width: 225px;
    background: #CCCCCC;
    overflow: hidden;
    margin: 0 auto;
}

.c-red {
    color: #FF0000;
}

.tc {
    text-align: center;
}

.wrapper {
    max-width: 1280px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    margin: 0 auto 20px auto;
}

/* кнопки */
.button-1 {
    background-color: #0063B0;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button-1:hover {
    background-color: rgba(0, 99, 176, 0.76);
}


/* заголовок и меню */
.header {
    background: #01518F;
    min-height: 40px;
    color: #ffffff;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header .site-name {
    margin-left: 40px;
}

.header .site-name a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .site-name .logo-image {
    height: 40px;
    margin-right: 10px;
}

.header .menu {
    font-size: 14px;
    list-style: none;
    display: flex;
    margin: 0 40px 0 0;
    padding: 0;
    align-items: center;
}

.header .menu li {
    padding: 3px 20px;
}

.header .menu li a:hover {
    text-decoration: underline;
}

.header .menu .item-in-border {
    border: 1px solid #ffffff;
}

.header .menu .auth {
    padding: 3px 0 3px 30px;
    background: url("img/key.png") no-repeat 10px center;
}

/* первая секция */
#section_1 {
    background: #1e0a08 url("img/pasport.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
}

#section_1 .section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

#section_1 .section-top .item-1 {
    margin-left: 40px;
}

#section_1 .section-top .item-1 img {
    float: left;
    margin-right: 10px;
}

#section_1 .section-top .item-2 {
    text-align: center;
    font-size: 18px;
}

#section_1 .section-top .item-3 {
    margin-right: 40px;
}

.main-title {
    text-align: center;
}

#section_1 .sub-title {
    text-align: center;
    font-size: 18px;
}

#section_1 .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 17px;
}

#section_1 .actions span {
    padding: 0 10px;
}

#section_1 .actions .action-2 {
    color: #ffffff;
    font-weight: bold;
}

#section_1 .section-bottom {
    display: flex;
    justify-content: space-around;
    background-color: rgba(153, 153, 153, 1);
    font-size: 11px;
    min-height: 65px;
    padding: 0 100px;
}

#section_1 .section-bottom div {
    display: flex;
    align-items: center;
}

#section_1 .section-bottom .item-1 {
    background: url("img/icon-point.png") no-repeat left center;
    padding-left: 35px;
}

#section_1 .section-bottom .item-2 {
    background: url("img/icon-like.png") no-repeat left center;
    padding-left: 55px;
}

#section_1 .section-bottom .item-3 {
    background: url("img/icon-label.png") no-repeat left center;
    padding-left: 55px;
}

/* секция 2*/
#section_2 {
    background: url("img/section-2-bg.jpg") no-repeat right bottom;
}

#section_2 ul {
    display: flex;
    max-width: 610px;
    margin: 0 auto 25px auto;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

#section_2 ul li {
    max-width: 145px;
}

#section_2_2 {
    padding: 30px 30px 0 30px;
    display: flex;

}

#section_2_2 .faq {
    flex: 0 0 350px;
    margin-left: 10px;
}

#section_2_2 .faq h3 {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin: 20px 0 14px 0;
}

#section_2_2 .faq h3:after {
    content: ' ';
    position: absolute;
    height: 1px;
    background: #cbcbcb;
    width: 250px;
    bottom: -6px;
    left: 0;
}

#section_2_2 .faq p {
    text-indent: 37px;
    line-height: 14px;
    margin: 3px 0;
}

#section_2_2 .faq p + h3 {
    margin-top: 44px;
}

#section_2_2 .scoba {
    display: flex;
    align-items: start;
    flex: 0 0 70px;
    padding-top: 90px;
}

#section_2_2 ul {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    list-style: none;
    margin: 0;
}

#section_2_2 ul li {
    flex: 0 0 390px;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 6px 10px 0 85px;
}

#section_2_2 ul li strong {
    background: #ea4628;
    color: #ffffff;
    padding: 5px 19px 4px 4px;
}

#section_2_2 ul li p {
    margin: 10px 0 25px 0;
}

#section_2_2 ul li:nth-child(1) {
    background-image: url("img/ab2-icon1.png");
}

#section_2_2 ul li:nth-child(2) {
    background-image: url("img/ab2-icon6.png");
}

#section_2_2 ul li:nth-child(3) {
    background-image: url("img/ab2-icon3.png");
}

#section_2_2 ul li:nth-child(4) {
    background-image: url("img/ab2-icon5.png");
}

#section_2_2 ul li:nth-child(5) {
    background-image: url("img/ab2-icon7.png");
}

#section_2_2 ul li:nth-child(6) {
    background-image: url("img/ab2-icon2.png");
}

#section_2_2 ul li:nth-child(7) {
    background-image: url("img/ab2-icon4.png");
}

#section_2_2 ul li:nth-child(8) {
    background-image: url("img/ab2-icon8.png");
}


.section-get-doc {
    background: #E4E4E4;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-get-doc .description {
    margin-left: 30px;
    font-weight: bold;
}

/* секция 3 */
#section_3 {
}

#section_3 .title-description {
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
}

.section-3-policy {
    display: flex;
    justify-content: center;
}

.section-3-policy .image {
    margin-right: 10px;
}

.section-3-policy .description {
    margin: 43px 0 0 50px;
    max-width: 300px;
}

.section-3-policy .description h3 {
    margin: 0 0 10px 0;
    padding: 10px 0;
    text-align: center;
}

.section-3-policy .description .the-line {
    margin: 0;
    width: 100%;
}

.section-3-policy .description .button-1 {
    width: 100%;
}

.section-3-policy .description .letter {
    background: url("img/lock.svg") no-repeat 1px 1px;
    background-size: 10px 10px;
    padding: 0 0 0 23px;
}

/* секция 4*/
#section_4 .section-description {
    display: flex;
    list-style: none;
    margin: 20px auto;
    padding: 0;
    justify-content: center;
}

#section_4 .section-description li {
    max-width: 268px;
    margin: 0 45px;
    position: relative;
}

#section_4 .section-description li:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: -70px;
}

#section_4 .section-description .item-1:before {
    background: url("img/icon-3-2.png") no-repeat;
}

#section_4 .section-description .item-2:before {
    background: url("img/icon-3-1.png") no-repeat;
}

#section_4 .section-description .item-3:before {
    background: url("img/icon-3-3.png") no-repeat;
}

#section_4 .example {
    margin-top: 50px;
}

#section_4 .example img {
    width: 100%;
}

/* секция 5*/
#section_5 {
}

#section_5 .section-description {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#section_5 .section-description .left-item {
    flex: 0 1 366px;
    margin: 15px 30px 0 0;
}

#section_5 .section-description .left-item p:first-child {
    font-size: 16px;
}

#section_5 .section-description .right-item {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 600px;
    margin: 20px 0 0 0;
}

#section_5 .section-description .doc {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
}

#section_5 .section-description .doc img {
    margin-right: 15px;
}

#section_5 .section-bottom {
    background-color: rgba(228, 228, 228, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65px;
}

#section_5 .section-bottom p {
    flex: 0 1 455px;
    font-weight: bold;
    margin: 0 50px;
}

/* секция 6*/
#section_6 {
    background-color: rgba(244, 200, 68, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

#section_6 .info {
    flex: 0 1 445px;
}

#section_6 .info .note {
    margin-top: 30px;
}

#section_6 .image {
    margin-left: 30px;
}

#section_6 .image img {
    width: 150px;
    height: 150px;
}

/* секция 7 */

#section_7 {
}

#section_7 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section_7 .section-description {
    display: flex;
    padding: 20px 30px;
}

#section_7 .col {
    padding: 17px 10px 10px 51px;
}

#section_7 .col h3 {
    font-size: 16px;
    margin: 0;
    position: relative;
}

#section_7 .col h3:before {
    content: " ";
    position: absolute;
    background: url("img/warning-triangle.png") no-repeat;
    width: 25px;
    height: 23px;
    top: -8px;
    left: -40px;
}

#section_7 .col h3:after {
    content: ' ';
    position: absolute;
    height: 1px;
    background: #cbcbcb;
    width: 250px;
    bottom: -8px;
    left: 0;
}

#section_7 .col h3 span {
    background: #ea4628;
    color: #ffffff;
    padding: 3px;
}

#section_7 .col p {
    margin: 17px 0;
}

#section_7 .col:last-child {
    background: #ececec;
}

#section_7 .doc {
    display: inline-block;
    background: url("img/ico-doc.png") no-repeat left center;
    color: #48587e;
    padding: 12px 0 12px 55px;
    text-decoration: underline;
    line-height: 21px;
}


#section_7 .section-bottom {
    background: #E4E4E4;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_7 .section-bottom .description {
    margin-left: 30px;
    font-weight: bold;
}

#section_8 .clients {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 20px;
    padding-top: 30px;
}

/* секция 8 */
#section_8 .clients .client {
    flex-basis: 25%;
    display: flex;
    margin-bottom: 20px;
}

#section_8 .clients .client .image {
    margin-right: 10px;
}

#section_8 .clients .client .description {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;

}

#section_8 .clients .client .description a {
    background: rgba(246, 227, 120, 1);
    display: block;
    width: 105px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.31);
}

#map {
    background: #4d67ac;
    min-height: 400px;
}

/* секция 9 */
#section_9 {
    background-color: rgba(244, 200, 68, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

#section_9 .info {
    flex: 0 1 450px;
    font-size: 16px;
}

#section_9 .info h3 {
    font-size: 32px;
    margin: 0;
}

#section_9 .info .txt {
    padding: 20px 0;
}

#section_9 .info .action {
    display: flex;
}

#section_9 .info .action .button-1 {
    margin-right: 15px;
}

/* секция 10 */

#section_10 {
    padding: 0 0 40px 0;
}

#section_10 .sub-title {
    text-align: center;
    margin: 10px 0 20px 0;
}

#section_10 .container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

#section_10 .counter {
    max-width: 500px;
    flex: 1 1 500px;
    border: 1px solid #cccccc;
    padding: 30px;
    display: flex;
    align-items: center;
}

#section_10 .counter .all {
    font-size: 30px;
    flex: 0 1 50%;
}

#section_10 .counter .all .num {
    font-size: 97px;
    color: #215789;
    font-weight: bold;
}

#section_10 .counter .detail {
    color: #ffffff;
}

#section_10 .counter .detail .item {
    background: #215789;
    text-align: right;
    font-size: 16px;
    padding: 5px;
    margin: 25px 0;
    position: relative;

}

#section_10 .counter .detail .item:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: -10px;
    left: 0;
    background: #215789;
}

#section_10 .counter .detail .item:nth-of-type(2) {
    background: #ab1922;
    width: 85%;
}

#section_10 .counter .detail .item:nth-of-type(2):before {
    background: #ab1922;
}

#section_10 .contacts .item {
    margin-bottom: 20px;
}

#section_10 .contacts .item:last-child {
    margin-bottom: 0;
}

#section_10 .contacts .item .item-title {
    font-size: 16px;
    max-width: 240px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #cccccc;
}

#section_10 .contacts .item .button-1 {
    margin-top: 5px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e4e4e4;
    color: #999999;
    padding: 10px 4%;
}

#footer a {
    color: #999999;
}

#footer .item-1 {
    display: flex;
    align-items: center;
}

#footer .item-1 img {
    margin-right: 10px;
}

#footer .item-1 .mail-link {
    text-decoration: none;
}

/*ms-example*/
#ms-example {
    padding: 0 0 40px;
    background: #aec6e5 url('img/u8.jpg') 0 0 repeat;
    border-top: 1px solid #4776b4;
    border-bottom: 1px solid #4776b4;
    cursor: default;
}

#ms-example #scale {
    background: #9bbbe3 url('img/lp-scale.png') 50% 0 no-repeat;
    height: 24px;
    margin-bottom: 20px;
}

#ms-example .doc-content {
    font: 16px/20px 'Times New Roman', Times, serif;
    width: 800px;
    margin: 0 auto;
    padding: 78px 60px 78px 114px;
    background: #fff;
    position: relative;
    border: 1px solid #646464;
    -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, .75);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, .75);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .75)
}

#ms-example .doc-content span {
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

#ms-example .doc-content #flap {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

#ms-example .doc-content #flap:hover {
    opacity: 1;
}

#ms-example .doc-content #flapcont {
    width: 350px;
    background: transparent;
    position: absolute;
    background: #ddd;
    top: 120px;
    left: 50%;
    margin-left: -175px;
    padding: 20px 25px;
    border-radius: 8px;
}

#ms-example .doc-content #flapcont .h2 {
    letter-spacing: 0;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

#ms-example .doc-content #flapcont p {
    font-size: 15px;
    margin: 8px 0 14px;
}

#ms-example .doc-content #flapcont img {
    margin-bottom: 12px;
}

#ms-example .doc-content #flapcont .begin-btn {
    text-align: center;
    background: #00b444;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: white;
    text-shadow: none;
    padding: 10px 0 8px;
    display: block;
    font-weight: 400;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

#ms-example .doc-content #flapcont .begin-btn:hover {
    background: #00ca69;
}


#ms-example .msw-orgname {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    text-align: center;
}

#ms-example .msw-doctitle {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin: 30px 0;
}

#ms-example .msw-docnum, #ms-example .msw-seo {
    float: right;
}

#ms-example .msw-docname {
    font-style: italic;
    font-weight: 700;
    margin: 30px 0;
}

#ms-example .msw-command {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 30px 0;
}

#ms-example .msw-seo, #ms-example .msw-seod {
    margin-top: 60px;
}

#ms-example .msw-text {
    text-align: justify;
    text-indent: 40px;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 800;
}

#order {
    background: #ffffff;
    width: 434px;

}

#order .title {
    padding: 20px 0 20px 0;
    background: #f4c844;
}

#order .title h3 {
    font-size: 36px;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

#order .black-line {
    margin: 5px auto 15px auto;
    max-width: 216px;
    height: 1px;
    background: #000000;
    overflow: hidden;
}

#order .title-action {
    font-size: 16px;
    text-align: center;
}

#order .title-description {
    text-align: center;
    margin: 20px 0;
}

#order .place {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;

}

#order .place-count {
    font-size: 20px;
    width: 41px;
    height: 41px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    margin-left: 28px;
}

#order .form {
    width: 210px;
    margin: 0 auto;
    padding: 20px 0 10px 0;
}

#order .form .field {
    font-weight: bold;
    margin-bottom: 10px;

}

#order .input-field {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding: 7px 0;
    width: 100%;
    text-align: center;
    margin: 5px 0;

}

#order .form .button-1 {
    width: 100%;
}

#order .form-description {
    text-align: center;
    padding-bottom: 20px;
}
#order a{
    color: #3333CC;
}

#success{
    background: #fff;
    border:20px solid #f4c844;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}